//
  Warp the rest of the page in another container to center all the content. 

.container.marketing
      //
         Three columns of text below the carousel 
      .row
        .col-lg-2
          img.img-circle(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/24052-sk-01-140x140.jpg', alt='Generic placeholder image')
          h2 Heading
          p
            | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
          p
            a.btn.btn-default(href='#', role='button') View details »
        //
           /.col-lg-4 
        .col-lg-2
          img.img-circle(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/24052-sk-01-140x140.jpg', alt='Generic placeholder image')
          h2 Heading
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#', role='button') View details »
        //
        .col-lg-2
          img.img-circle(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/01630-p5-011-140x140.jpg', alt='Generic placeholder image')
          h2 Heading
          p
           | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#', role='button') View details »a 
        //
           /.col-lg-4 
        .col-lg-2
          img.img-circle(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/02500-04-140x140.jpg', alt='Generic placeholder image')
          h2 Heading
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#', role='button') View details »
       
         .col-lg-2
          img.img-circle(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/02581-02-140x140.jpg', alt='Generic placeholder image')
          h2 Heading
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#', role='button') View details »
         .col-lg-2
          img.img-circle(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/02580-01-140x140.jpg', alt='Generic placeholder image')
          h2 Heading
          p
            | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
          p
            a.btn.btn-default(href='#', role='button') View details »

        //
         START THE FEATURETTES 
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | First featurette heading.
            span.text-muted It'll blow your mind.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/2013_Xmas_card-2-02.jpg', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-5
          img.featurette-image.img-responsive(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/1387887371346.png', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Oh yeah, it's that good.
            span.text-muted See for yourself.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly, this one.
            span.text-muted Checkmate.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.featurette-image.img-responsive(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/1387888396784.png', alt='Generic placeholder image')    
      //
         /END THE FEATURETTES 
      hr.featurette-divider
      .row.featurette
        .col-md-5.aaron
          .thumbnail
            img.featurette-image.img-responsive.imageWrapper(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/x%27mas/DSC08675.JPG') 
            .caption
             h3 Thumbnail label
             p my desk view
             p
               a.btn.btn-primary(href='#', role='button') Delete 
               | &nbsp 
               a.btn.btn-default(href='#', role='button') Update
        .col-md-7
          h2.featurette-heading
            | And lastly, this one.
            spen.text-muted Checkmate.
          p.lead
            | here is christmax tree in the new taipei city square 
      //  
       .row.featurette
        .col-md-5
          video#video1(width='420')
            source(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/xmas_new_taipei_city.mp4', type='video/mp4')        
          
