//
  Warp the rest of the page in another container to center all the content. 

.container.marketing
      //
         Three columns of text below the carousel 
          

        //
         START THE FEATURETTES
      //
       hr.featurette-divider
      br
      br 
      br
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | First featurette heading.
            span.text-muted It'll blow your mind.
          p.lead
           b
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.fade-in.featurette-image.img-responsive(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/1387886899839.png', alt='Generic placeholder image')
      hr.featurette-divider
      .row.featurette
        .col-md-5
          img.fade-in.featurette-image.img-responsive(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/1387887371346.png', alt='Generic placeholder image')
        .col-md-7
          h2.featurette-heading
            | Oh yeah, it's that good.
            span.text-muted See for yourself.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      hr.featurette-divider
      .row.featurette
        .col-md-7
          h2.featurette-heading
            | And lastly, this one.
            span.text-muted Checkmate.
          p.lead
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        .col-md-5
          img.fade-in.featurette-image.img-responsive(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/1387888396784.png', alt='Generic placeholder image')    
      //
         /END THE FEATURETTES 
      hr.featurette-divider
      .row.featurette
        .col-md-5
          .thumbnail
            img.fade-in.featurette-image.img-responsive.imageWrapper(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/1387887406256.png') 
            .caption
             //
              h3 Beautiful Chrismas tree 
             p it's an warm xmas!
             p
               a.btn.btn-primary(href='#', role='button') Delete 
               | &nbsp 
               a.btn.btn-default(href='#', role='button') Update
        .col-md-7
          h2.featurette-heading
            | And lastly, this one.
            spen.text-muted Checkmate.
          p.lead
            | here is christmax tree in the new taipei city square 
      //  
       .row.featurette
        .col-md-5
          video#video1(width='420')
            source(src='https://s3-ap-southeast-1.amazonaws.com/aaronchou/xmas_new_taipei_city.mp4', type='video/mp4')        
          
