.navbar-wrapper
    .container
        .navbar.navbar-inverse.navbar-static-top
          .container
            .navbar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand(href='/') MyPhotoDiary 
            .navbar-collapse.collapse
              ul.nav.navbar-nav
                li.active
                  a(href='/') Home
                li
                  a(href='/about') About
                li
                  a(href='/contact') Contact
                li.dropdown
                  a.dropdown-toggle(href='#', data-toggle='dropdown')
                    | Albums 
                    b.caret
                  ul.dropdown-menu
                    li
                      a(href='/demo') DiaryList
                    li
                      a(href='/others/52bb042d5659363045000001') DiaryDetail
                    li
                      a(href='/year/2014') Show Year 2014 Diary Only
                    li
                      a(href='/year/2013') Show Year 2013 Diary Only
                    li.divider
                    li.dropdown-header Per Year Diary Detail View
                    li
                      a(href='/diaries/2013/1/1') 2013 Per Year Detail 
                    li
                      a(href='/diaries/2014/1/1') 2014 Per Year Detail 
               ul.nav.navbar-nav.pull-right
                 li
                  a(href='/', style='padding-right: 30px;') 
                     span.badge 
                     | Diaries

