extends layout
block append content
  include includes/navar
  br
  br
  br
  br
  .container
      br
      div
        .row
          .col-md-1.col-xs-12
            img.img-responsive(src='img/download.png', width='50',style='float: left;')
          .col-md-11.col-md-offset-1
            h4 Download the source code
            p
              | The source code for this application is available in 
              a(href='https://github.com/SIMPLYBOYS/MyPhotoDiary') this repository 
              | on GitHub. 
        .row
          br 
          .col-md-1.col-xs-12
            img.about-icon(src='img/discuss.png', width='50', style='float: left;')
          .col-md-11.col-md-offset-1
            h4 Comments and questions
            p
              | I love to hear your feedback. Post your questions and comments on the blog post associated with this
              | application.

    

