extends layout
block append content
  include includes/navar
  br
  br
  br
  br
  .container
    .jumbotron
      br
      br
      h1 Hello, Indonesia!
      p This is a Hank to create a simple page to introduce.
      p
        a.btn.btn-primary.btn-lg Learn more

