
extends layout
block append content
  include includes/navar
  br
  br
  br
  br
  #container.clearfix.masonry

  #notification
  //
   a.iframe(href='http://54.200.206.84/diary_per_day/1392625609800.png') Outside Webpage
  
   
  include includes/footer
  
   
    

