//
 from other
extends layout
block append content
  include includes/navar
  br
  br
  br
  br
  .container
   br
   .row.featurette 
     .col-xs-6.col-md-5.col-sm-5.col-lg-4 
       form.datadetail(role='form') 
     .col-xs-6.col-md-7.col-sm-7.col-lg-8
       .photodetail 
   #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') x 
            h4.modal-title Delete this PhotoDiary
          .modal-body
            | Please make sure if you really want to remove this PhotoDiary.
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
            button.btn.btn-success(type='button') Save changes
        //
           /.modal-content
      //
         /.modal-dialog
    //
       /.modal
      
    

