!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='../../docs-assets/ico/favicon.png')
    title Carousel Template for Bootstrap
    //
       Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    //
       Custom styles for this template
    link(href='/stylesheets/carousel.css', rel='stylesheet')
  block head
    
  body 
    block content 
    include includes/footer

