
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scale=no, width=device-width')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='shortcut icon', href='/ico/favicon.png')
    title MyPhotoDiary 
    //
       Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    //
       Custom styles for this template
    link(href='/stylesheets/carousel.css', rel='stylesheet')
    // 
      PhotoWall
      link(href='/stylesheets/jquery.photoWall.css', rel='stylesheet')
    // 
      Customize
    link(href='/stylesheets/styles.css', rel='stylesheet')
    //
      ColorBox
    link(href='/stylesheets/colorbox.css', rel='stylesheet')
    //
     Scroll Up
    link(href='/stylesheets/tab.css', rel='stylesheet')    
    // 
     Hover
    link(href='/stylesheets/hover.css', rel='stylesheet')
    // 
     Fontawsome
    link(href='/stylesheets/font-awesome.css', rel='stylesheet') 

    
   
  block head
    
  body
    block feet
    //
      h1 Shuttle
    block content 
    //
     include includes/footer

